body {
  /*Picture was taken by MontyLov. Can be found on instagram  @MontyLov*/
background-image: url(https://images.unsplash.com/photo-1505245208761-ba872912fac0?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
background-repeat: no-repeat;
background: cover; 
}